
/* nav section */
.navsec{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
}

.coffeeClose{
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 1%;
}

.coffeeMug{
    position: relative;
    margin-left: 25%;
}

.closeWin{
    position: relative;
    margin-left: 72%;
}

h1{
    font-family: "eurostile", sans-serif;
    font-weight: 400;
    font-size: 3rem !important;
    line-height: 1.125;
    word-break: break-word;
    text-align: center;
}

